<section class="skills">
    <div class="skills-container">
      <h2>Skills & Expertise</h2>
      <p class="skills-intro">
        My core strengths lie in backend development, where I've built scalable and robust applications. I'm also actively expanding my skillset towards full-stack development to create complete and user-friendly web solutions.
      </p>
  
      <div class="skills-categories">
        <div class="skills-category">
          <h3>Backend Development</h3>
          <ul class="skills-list">
            <li>
              <span class="skill-name">Java</span>
              <span class="skill-details">(Spring Boot, Spring Data JPA, Java 17)</span>
            </li>
            <li>
              <span class="skill-name">API Development</span>
              <span class="skill-details">(REST APIs, SOAP)</span>
            </li>
            <li>
              <span class="skill-name">Microservices</span>
              <span class="skill-details">(Design, Implementation, Management)</span>
            </li>
            <li>
              <span class="skill-name">Databases</span>
              <span class="skill-details">(MySQL)</span>
            </li>
            <li>
              <span class="skill-name">Cloud Computing</span>
              <span class="skill-details">(GCP, Docker, Kubernetes, Openshift)</span>
            </li>
            <li>
              <span class="skill-name">Version Control</span>
              <span class="skill-details">(Git, Bitbucket)</span>
            </li>
            <li>
              <span class="skill-name">CI/CD</span>
              <span class="skill-details">(Jenkins)</span>
            </li>
            <li>
              <span class="skill-name">Message Queues</span>
              <span class="skill-details">(Kafka)</span>
            </li>
          </ul>
        </div>
  
        <div class="skills-category">
          <h3>Frontend Development</h3>
          <ul class="skills-list">
            <li>
              <span class="skill-name">HTML</span>
            </li>
            <li>
              <span class="skill-name">CSS</span>
            </li>
            <li>
              <span class="skill-name">TypeScript</span>
            </li>
            <li>
              <span class="skill-name">Angular</span>
              <span class="skill-details">(Learning)</span>
            </li>
          </ul>
        </div>
  
        <div class="skills-category">
          <h3>Other Skills</h3>
          <ul class="skills-list">
            <li>
              <span class="skill-name">Agile Methodologies</span>
            </li>
            <li>
              <span class="skill-name">Data Structures and Algorithms</span>
            </li>
            <li>
               <span class="skill-name">Problem-solving</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>