@import '../../../variables';
.navbar {
  background-color: #000000 !important;
  color: $text-color-primary;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding: 0 30px;
  }

  .navbar-links {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 2vw;
    }

    li a {
      color: $text-color-primary;
      text-decoration: none;
      font-size: 1.1rem;
      display: inline-block;
      padding: 0.5em 0;
      transition: color 0.3s ease,
        transform 0.3s ease-in-out;

      &:hover {
        color: $link-hover-color;
        text-decoration: none;
        transform: scale(1.08);
      }

      &.active-link {
        font-weight: bold;
        color: $accent-color;
      }
    }
  }

  .navbar-toggler {
    background: none;
    border: none;
    color: $text-color-primary;
    font-size: 30px;
    cursor: pointer;
    display: none;
    z-index: 11;
  }

  // Media query for larger screens
  @media (min-width: $breakpoint-large) {
    .navbar-links {
      ul {
        gap: 1.5vw;
      }

      li a {
        font-size: 1.2rem;
      }
    }

    .navbar-container {
      justify-content: center;
    }
  }

  // Media query for medium screens
  @media (max-width: $breakpoint-large) and (min-width: $breakpoint-medium) {
    .navbar-links {
      ul {
        gap: 2.5vw;
      }

      li a {
        font-size: 1.1rem;
      }
    }

    .navbar-container {
      justify-content: center;
    }
  }

  // Media query for mobile view
  @media (max-width: $breakpoint-medium) {
    justify-content: space-between;

    .navbar-container {
      justify-content: space-between;
      position: relative;
    }

    .navbar-links {
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #000000 !important;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px 0;
      transform: translateY(-100%);
      transition: transform 0.3s ease-in-out;
      z-index: 10;
      opacity: 0;          /* Hide the links by default */
      visibility: hidden; /* and remove them from the flow */

      &.collapsed {
        transform: translateY(0);
        opacity: 1;          /* Show the links when not collapsed */
        visibility: visible;
      }

      ul {
        display: block;
        padding: 0.8em 1em;
        text-align: center;
        margin: 0;
      }

      li a {
        display: block;
        padding: 10px 0;
        font-size: 1.1rem;
        border-bottom: 1px solid $secondary-dark;
      }

      li:last-child a {
        border-bottom: none;
      }
    }

    .navbar-toggler {
      display: block;
      font-size: 36px;
    }
  }
}