<section class="about-me">
    <div class="about-container">
      <div class="about-image">
        <img src="assets/about_me.jpg" alt="Aman Kumar">  </div>
      <div class="about-content">
        <h2>About Me</h2>
        <p class="about-intro">
          Hello! I'm Aman Kumar, a Master's student in Computer Science at the University of Stuttgart (TU9, Germany) with a strong foundation in Java backend development. My passion lies in crafting efficient and scalable solutions.
        </p>
  
        <div class="about-story">
          <h3>My Journey</h3>
          <p>
            My journey in software development has been shaped by my academic pursuits at a top German university and practical experience at Tata Consultancy Services. There, I contributed to significant projects, including enhancing data accessibility by 30% through REST APIs and upgrading core Java microservices to Java 17. This experience has solidified my skills in Agile environments and my commitment to delivering high-quality, performant applications.
          </p>
        </div>
  
        <div class="about-skills">
          <h3>Skills & Expertise</h3>
          <div class="skills-grid">
            <div>
              <h4>Technical Skills</h4>
              <ul>
                <li>Java (Spring Boot, Spring Data JPA)</li>
                <li>REST APIs, Microservices</li>
                <li>Databases (MySQL)</li>
                <li>Cloud Computing (GCP, Docker, Kubernetes, Openshift)</li>
                <li>Git, CI/CD, Jenkins, Maven, Kafka</li>
                <li>HTML, CSS, Typescript</li>
                <li>Data Structures and Algorithms</li>
              </ul>
            </div>
            <div>
              <h4>Professional Skills</h4>
              <ul>
                <li>Agile Methodologies</li>
                <li>Problem-solving</li>
                <li>Team Collaboration</li>
                <li>Communication</li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="about-education">
          <h3>Education</h3>
          <p>
            <strong>Master of Science, Computer Science</strong><br>
            University of Stuttgart (TU9, Germany)<br>
            2024 - Present
          </p>
          <p>
            <strong>Bachelor of Engineering, Information Science & Engineering</strong><br>
            Dr. Ambedkar Institute of Technology<br>
            2018 - 2022
          </p>
        </div>
  
        <div class="about-contact">
          <h3>Let's Connect</h3>
          <p>
            I'm eager to connect with fellow professionals and explore new opportunities. Feel free to reach out via <a href="https://www.linkedin.com/in/aman-kumar-6a4554196/" target="_blank">LinkedIn</a>.
          </p>
        </div>
      </div>
    </div>
  </section>