<nav class="navbar">
    <div class="navbar-container">
      <a class="navbar-brand" routerLink="/">Aman's Portfolio</a>
      <button class="navbar-toggler" (click)="toggleNavbar()">
        ☰
      </button>
      <div [class.collapsed]="isNavbarCollapsed" class="navbar-links">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/skills">Skills</a></li>
          <li><a routerLink="/projects">Projects</a></li>
          <li><a routerLink="/resume">Resume</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  