<section class="home">
    <canvas #matrixCanvas id="matrixCanvas"></canvas>
    <div class="intro">
      <h1>
        Hello, I'm <span class="highlight">Aman Kumar</span>
      </h1>
      <h2 class="tagline animated-text">Crafting Robust Server-Side Solutions</h2>
      <p class="elevator-pitch animated-text">
        Passionate backend developer with 2+ years at TCS, now deepening my expertise
        in Computer Science at the University of Stuttgart. I build scalable and
        efficient applications with a focus on Java, Spring Boot, and SQL.
      </p>
      <div class="call-to-actions">
        <button class="primary-button">View My Projects</button>
        <a href="https://github.com/your-github-username" target="_blank">
          <button class="secondary-button">GitHub</button>
        </a>
      </div>
    </div>
  </section>
  